
*   {
    margin: 0px;
    padding: 0px;
}

body    {
    background: linear-gradient(to right, black, #140707);
}

header  {
    height: 150px;
}

main    {
    display: block;
    margin: auto;
    max-width: 1280px;
    height: auto;
    padding: 10px;
}

video   {
    display: block;
    margin: 40px auto;
}

h1  {
    text-align: left;
    margin: 20px 50px 0px 50px;
    font-size: larger;
    font-family: sans-serif;
    color: white;
}
h2  {
    color: white;
    text-align: center;
    font-family: sans-serif;
}
h3  {
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-size: medium;
    padding: 5px;
}

p   {
    color: aliceblue;
    text-align: left;
    font-family: sans-serif;
    padding: 10px 50px;
}


/*LETRAS*/
a   {
    text-decoration: none;
}
.letras {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
}
.item-letras    {
    margin: 5px;
}
.button-letras  {
    font-size: x-large;
    width: 40px;
    height: 40px;
}
.button-letras:hover    {
    color: white;
    border: 1px solid white;
    background-color: #140707;
}
.button-filmes  {
    height: 25px;
    display: block;
    margin: auto;
    width: 90%;
    border-radius: 5px;
    transition: .5s;
}
.button-filmes:hover    {
    color: white;
    background-color: #140707;
    border: 1px solid white;
}

p   {
    color: white;
}
li  {
    color: white;
}

input   {
    display: block;
    margin: 60px auto 10px auto;
    padding: 5px;
}